.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.signin-form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signin-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signin-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signin-form input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signin-form button:hover {
    background-color: #333;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-bottom: 10px;
}